[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/Clownacy/imgui
[submodule "libraries/file-utilities/clowncommon"]
	path = libraries/file-utilities/clowncommon
	url = https://github.com/Clownacy/clowncommon
[submodule "libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/libsdl-org/SDL
